@use "variables" as *;

.consola-circulo {
    border-radius: 50%;
    background-color: #f8f9fa;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.seriestext {
    .serieimgwrapper {
        width: 180px;
        height: 300px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    p {
        font-size: 1rem;
        font-weight: $negrita;
    }
}

.peliculastext {
    .peliculaimgwrapper {
        width: 180px;
        height: 300px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    p {
        font-size: 1rem;
        font-weight: $negrita;
    }
}

@media (max-width: 480px) {
    .seriestext {
        .col-3 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .serieimgwrapper {
            width: 140px;
            height: 220px;
            margin-bottom: 10px;
        }

        p {
            font-size: 0.85rem;
            padding: 0 5px;
            line-height: 1.2;
        }
    }
    .container.my-5 h2 {
        text-align: center;
        font-size: 1.8rem;
    }

    .peliculastext {
        .col-3 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .peliculaimgwrapper {
            width: 140px;
            height: 220px;
            margin-bottom: 8px;
        }

        p {
            font-size: 0.85rem;
            line-height: 1.2;
            padding: 0 4px;
        }
    }
}