@use "variables" as *;

body {
    background: linear-gradient(132deg,
            rgba(66, 66, 66, 1) 0%,
            rgba(194, 192, 192, 1) 25%,
            rgba(102, 104, 105, 1) 50%,
            rgba(192, 193, 194, 1) 75%,
            rgba(89, 89, 92, 1) 100%);

    background-size: 300% 300%;
    animation: fondoAnimado 20s ease-in-out infinite;
    @include backgroundmarginpadding(#414e54, 0, 0);
    font-family: $poiretfamily;
}

footer {
    @include displaydirectionjustify($flex, $filas, $centrar);
    align-items: $centrar;

    p {
        font-family: $poiretfamily;
        color: white;
        font-size: 1rem;
        font-weight: $negrita;
    }
}

.contenidoprincipal {
    max-width: 1250px;
    @include displaydirectionjustify($flex, $columnas, $centrar);
    gap: 25px;
    @include backgroundmarginpadding(#f2f4f6, 0 auto, 30px);
    background: radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgba(220, 224, 227, 1) 50%, rgba(217, 217, 217, 1) 100%);
    min-height: 100vh;
    box-sizing: border-box;

    h1 {
        font-weight: $negrita;
    }
}


//HEADER
header {
    div {
        .img-fluid {
            max-width: 500px;
        }
    }

    .menu-toggle {
        @include displaydirectionjustify(none, $columnas, space-between);
        width: 30px;
        height: 21px;
        background: transparent;
        border: none;
        cursor: pointer;
        margin: 15px auto;

        .bar {
            height: 3px;
            width: 100%;
            background-color: #333;
            border-radius: 10px;
        }
    }

    nav {
        ul {
            li {
                a {
                    img {
                        width: 40px;
                        height: 40px;
                    }

                    span {
                        font-family: $poiretfamily;
                        font-weight: 700;
                        font-size: 12px;
                        text-transform: uppercase;
                        text-align: $centrar;
                    }
                }
            }

            li a:hover {
                transform: translateY(-3px);
            }
        }
    }
}

.separadortipo {
    color: black;
    font-weight: bold;
    margin: 0 5px;
    font-size: 1rem;
}

$maptipos: (
    acero:#60a1b8,
    agua:#2980ef,
    bicho:#91a119,
    dragon:#5061e1,
    electrico:#fac000,
    fantasma:#704170,
    fuego:#e62829,
    veneno:#8f41cb,
    volador:#81b9ef,
    hada:#ef71ef,
    hielo:#3fd8ff,
    lucha:#ff8000,
    normal:#9fa19f,
    planta:#3fa129,
    psiquico:#ef4179,
    roca:#afa981,
    siniestro:#50413f,
    tierra:#915121,
);

@each $tipo, $color in $maptipos {
    .colortipo#{$tipo} {
        background-color: $color;
    }
}

@media (max-width: 480px) {
    .contenidoprincipal {
        padding: 15px;
    }

    header {
        .img-fluid {
            max-width: 220px !important;
        }

        .menu-toggle {
            display: flex;
        }

        .nav {
            display: none !important;
            flex-direction: column;
            background-color: #f8f9fa;
            padding-bottom: 20px;

            &.show {
                display: flex !important;
            }

            li {
                width: 100%;
                border-bottom: 1px solid #ddd;

                .nav-link {
                    padding: 15px;
                    flex-direction: row !important;
                    gap: 15px;
                    justify-content: flex-start;
                    padding-left: 30px;
                }
            }
        }
    }

    footer p {
        font-size: 0.8rem;
    }
}