@use "variables" as *;

.listaTiposGrid {
    display: $grid;
    grid-template-columns: repeat(6, 1fr);
    width: $porcentaje100;
    div {
        @extend %flexColumnCenter;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: $sombraCard;
        }
        p {
            text-align: $centrar;
            margin-top: 8px;
            font-size: 1rem;
            font-weight: $negrita;
            font-family: $arialfamily;
        }
    }
}
.tablaTipos {
    @extend %flexRowCenter;
}  

@media (max-width: 480px) {
    .listaTiposGrid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
        padding: 5px;

        div {
            img {
                width: 75px; 
                height: 75px;
            }
            p {
                font-size: 0.8rem;
            }
        }
    }

    .tablaTipos {
        padding: 10px;
        img {
            width: 100%;
            height: auto;
        }
    }
}
